<%= stylesheet_link_tag "home/index", :media => "all" %>
<%= stylesheet_link_tag "users/index", :media => "all" %>
<%= render 'home/nav' %>


<div class="profile-card" style="color: rgba(240,75,64,0);">
<div class="profile-back" style="background-color: rgb(240,75,64);"></div>
<% if @user.image? %>
<img class="rounded-circle profile-pic" src=<%= @user.image %>>
<% else %>
<%= image_tag 'default.png', class: 'rounded-circle profile-pic'%>
<% end %>
<h3 class="profile-name" style="background-color: rgb(240,75,64);"><%= @user.username %></h3>
<p class="profile-bio" style="color: rgb(0,0,0);"><%= render 'follow_form' %>
　　　<%= render 'stats' %></p>
</div>


<div class="container">
<div class="row">
  <div class="col-xs-12 ">
    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">投稿</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">いいね</a>
      </div>
    </nav>
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <% @user.posts.each do |post| %>
            <a href="/posts/<%= post.id %>">
            <%= image_tag post.img.url%>
            </a>
            <% end %>
            </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <% @user.liked_posts.each do |post| %>
        <a href="/posts/<%= post.id %>">
        <%= image_tag post.img.url%>
        </a>
        <% end %>
        </div>

 
    </div>
  
  </div>
</div>
</div>
</div>
</div>
