<%= stylesheet_link_tag "home/index", :media => "all" %>


<%= render 'home/nav' %>



<section id="services">
  
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center"><%= @post.user.username %>さんの投稿</h1>
                        <% if current_user.already_liked?(@post) %>
  <%= button_to  post_like_path(@post),:class => 'rounded-circle',:method => :delete do %>
  <i class="fa fa-heart" style="font-size: 24px;color:#ff0000" ></i>
<% end %>
<% else %>
  <%= button_to  post_likes_path(@post),:class => 'rounded-circle' do %>
  <i class="fa fa-heart" style="font-size: 24px;"></i>
<% end %>
<% end %>
                        <p class="text-center"><span class="by"></span><a  style="font-size: 22px;"><i class="fa fa-heart" style="font-size: 23px;">いいね数：<%= @post.likes.count %></i></a> 
                        </p><%= image_tag @post.img.url%>
                        
                        <%= link_to("/posts/#{@post.id}/destroy",{method:"post"}) do %>
<% if current_user == @post.user %>
<button type="button" class="btn btn-outline-primary">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>削除
</button>
<% end %>
<% end %>

</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1">
                    <div class="toc">
                        <p style="font-size: 24px;">いいねしたユーザー</p>
                        <ul style="font-size: 21px;">
                           <% @post.liked_users.each do |user| %>
                           <li><%= user.username %></li>
                           <% end %>
                        </ul>
                    </div>
                </div>
                    
                    <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <% @comments.each do |c| %>
                    <div class="border rounded-0 text">
                        <h2><a href="/users/<%= c.user.id %>"><%= c.user.username %></a></h2>
                           <p　style="font-size: 26px;"><%= c.content %></p>
                        <figure class="figure"> <% if current_user == c.user %>
    <%= link_to "コメント削除", comment_path(c), method: :delete, class: 'btn btn-danger btn-sm' %></figure>
                        <p></p>
                    </div>
    <% end %>
   

<% end %>
 <div class="card text-white mb-1">
  <div class="card-header">
<%= form_for [@post, @comment] ,url: comments_path do |f| %>

    <%= f.hidden_field :post_id, value: @post.id %>

     
  </div>
  <div class="card-body">
      <div class=" card-text form-group">
              <%= f.text_field :content,class:"form-control",placeholder:"コメントの入力" %>
              
      </div>
          <%= f.submit 'コメントする', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
            </div>
        </div>
    </div>
</section>